In [64]:
# table to visualize % nodes visited in original and ranked enum. algorithms

In [65]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import numpy as np
import seaborn as sns

In [66]:
# Save DataFrame as PNG with background colors
def save_dataframe_as_png(df, filename='result_table.png'):
    fig, ax = plt.subplots(figsize=(12, 6))  # Adjust size as needed
    ax.axis('off')  # Hide axes
    
    # Create a table
    table = ax.table(
        cellText=df.values,
        colLabels=df.columns,
        cellLoc='center',
        loc='center'
    )

    # Add background colors
    for (row, col), cell in table.get_celld().items():
        if row == 0:  # Header row
            cell.set_facecolor('#1C4DED')
            cell.set_text_props(color='white', weight='bold')
        #elif col == 0:  # 'k' column
         #   cell.set_facecolor('blue')
          #  cell.set_text_props(color='white')
        else:  # Other cells
            cell.set_facecolor('#f0f0f0')  # Light gray background
    
    table.auto_set_font_size(False)
    table.set_fontsize(10)
    table.auto_set_column_width(col=list(range(len(df.columns))))  # Auto adjust column width

    # Save as PNG
    #plt.savefig(filename, bbox_inches='tight')
    plt.savefig(filename)
    plt.show()

In [67]:
alg_label = ["Original",
             "R. LOUDS Backtrack.", 
             "R. LOUDS Op. Order",
             "R. DFUDS Backtrack.", 
             "R. DFUDS Op. Order"]
        
queries_label = ["j3","j4","p2","p3","p4","s1","s2","s3","s4","t2","t3","t4","ti2","ti3","ti4","tr1","tr2"]

queries_title = ["J3","J4","P2","P3","P4","S1","S2","S3","S4","T2","T3","T4","Ti2","Ti3","Ti4","Tr1","Tr2"]

In [68]:

for i,type_fun in enumerate([0]):#,1]):
    file = f"results-f{type_fun}-nodes.csv"
    #print(file)
    
    k_values = [1, 10, 100, 1000]
    
    original = pd.read_csv('../../original/results-nodes-ranked.csv',delimiter=';')
    original = original.drop(original.columns[0], axis=1) # delete column k
    meanOriginal = original.mean(axis=1)

    
    rankedLoudsBack = pd.read_csv(f'../../ranked/louds/backtracking/{file}', delimiter=';')
    rankedLoudsBack = rankedLoudsBack.drop(rankedLoudsBack.columns[0], axis=1) # delete column k
    rankedLoudsBack = rankedLoudsBack.loc[:, (rankedLoudsBack != 0).any(axis=0)]
    meanRankedLoudsBack = rankedLoudsBack.mean(axis=1)
    
    rankedLoudsNon = pd.read_csv(f'../../ranked/louds/optimalOrder/{file}', delimiter=';')
    rankedLoudsNon = rankedLoudsNon.drop(rankedLoudsNon.columns[0], axis=1) # delete column k
    rankedLoudsNon = rankedLoudsNon.loc[:, (rankedLoudsNon != 0).any(axis=0)]
    meanRankedLoudsNon = rankedLoudsNon.mean(axis=1)
    
    rankedDfudsBack = pd.read_csv(f'../../ranked/dfuds/backtracking/{file}', delimiter=';')
    rankedDfudsBack = rankedDfudsBack.drop(rankedDfudsBack.columns[0], axis=1) # delete column k
    rankedDfudsBack = rankedDfudsBack.loc[:, (rankedDfudsBack != 0).any(axis=0)]
    meanRankedDfudsBack = rankedDfudsBack.mean(axis=1)
    
    rankedDfudsNon = pd.read_csv(f'../../ranked/dfuds/optimalOrder/{file}', delimiter=';')
    rankedDfudsNon = rankedDfudsNon.drop(rankedDfudsNon.columns[0], axis=1) # delete column k
    rankedDfudsNon = rankedDfudsNon.loc[:, (rankedDfudsNon != 0).any(axis=0)]
    meanRankedDfudsNon = rankedDfudsNon.mean(axis=1)
    
    # Combine into a DataFrame
    result_table = pd.DataFrame({
        "k": k_values,
        "Original": meanOriginal,
        "R. Louds Back": meanRankedLoudsBack,
        "R. Louds Opt": meanRankedLoudsNon,
        "R. Dfuds Back": meanRankedDfudsBack,
        "R. Dfuds Opt": meanRankedDfudsNon
    })
    
    #result_table.set_index("k")
    result_table
    

result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))
result_table['k'] = result_table['k'].astype(int)
result_table
#result_table.style.set_caption("ras")
#result_table.style.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_32558/1514528929.py:46: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))

      k    Original  R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0     1  23128759.1     11048285.6     8773763.4     11048285.6     8773763.4
1    10  23128759.1     16389733.1    15259889.8     16389733.1    15259889.8
2   100  23128759.1     18379702.9    17514963.6     18379702.9    17514963.6
3  1000  23128759.1     19103629.9    18890963.4     19103629.9    18890963.4

In [69]:
# latex table
print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrrr}
\toprule
k & Original & R. Louds Back & R. Louds Opt & R. Dfuds Back & R. Dfuds Opt \\
\midrule
1 & 23,128,759.10 & 11,048,285.60 & 8,773,763.40 & 11,048,285.60 & 8,773,763.40 \\
10 & 23,128,759.10 & 16,389,733.10 & 15,259,889.80 & 16,389,733.10 & 15,259,889.80 \\
100 & 23,128,759.10 & 18,379,702.90 & 17,514,963.60 & 18,379,702.90 & 17,514,963.60 \\
1000 & 23,128,759.10 & 19,103,629.90 & 18,890,963.40 & 19,103,629.90 & 18,890,963.40 \\
\bottomrule
\end{tabular}

In [70]:
res_rlb =result_table['R. Louds Back']/result_table['Original'] * 100
res_rlo=result_table['R. Louds Opt']/result_table['Original'] * 100
res_rdb=result_table['R. Dfuds Back']/result_table['Original'] * 100
res_rdo=result_table['R. Dfuds Opt']/result_table['Original'] * 100

In [71]:
res_percentaje = pd.DataFrame({
    "k": k_values,
        "R. Louds Back": res_rlb,
        "R. Louds Opt": res_rlo,
        "R. Dfuds Back": res_rdb,
        "R. Dfuds Opt": res_rdo
    })

res_percentaje

      k  R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0     1      47.768605     37.934432      47.768605     37.934432
1    10      70.863002     65.977988      70.863002     65.977988
2   100      79.466879     75.728073      79.466879     75.728073
3  1000      82.596865     81.677375      82.596865     81.677375

In [72]:
# latex table
#print(res_percentaje.to_latex(index=False,float_format="{:,.2f}".format,))
for col in res_percentaje.columns:
    if col != 'k':
        res_percentaje[col] = res_percentaje[col].map(lambda x: f"{x:.2f}\\%")

# Print LaTeX table
print(res_percentaje.to_latex(index=False, escape=False))

\begin{tabular}{rllll}
\toprule
k & R. Louds Back & R. Louds Opt & R. Dfuds Back & R. Dfuds Opt \\
\midrule
1 & 47.77\% & 37.93\% & 47.77\% & 37.93\% \\
10 & 70.86\% & 65.98\% & 70.86\% & 65.98\% \\
100 & 79.47\% & 75.73\% & 79.47\% & 75.73\% \\
1000 & 82.60\% & 81.68\% & 82.60\% & 81.68\% \\
\bottomrule
\end{tabular}

In [73]:

alg_label = ["Original",
             "R. LOUDS Backtrack.", 
             "R. LOUDS Op. Order",
             "R. DFUDS Backtrack.", 
             "R. DFUDS Op. Order"]
queries_title_v1000 = ["J3","J4","P2","P3","P4","S3","T2","T3","T4","Ti2","Ti3"] #"S3","T3","Ti4 (log scale)"
queries_label_v1000=["j3","j4","p2","p3","p4","s3","t2","t3","t4","ti2","ti3"] # "s3", "t3","ti4"

In [74]:

for i,type_fun in enumerate([0]):#,1]):
    file = f"results-f{type_fun}-nodes.csv"
    #print(file)
    
    k_values = [1, 10, 100, 1000]
    
    original = pd.read_csv('../../query1000results/original/results-nodes-ranked.csv',delimiter=';')
    meanOriginal = original.mean(axis=1)

    
    rankedLoudsBack = pd.read_csv(f'../../query1000results/ranked/louds/backtracking/{file}', delimiter=';')
    rankedLoudsBack = rankedLoudsBack.loc[:, (rankedLoudsBack != 0).any(axis=0)]
    meanRankedLoudsBack = rankedLoudsBack.mean(axis=1)
    
    rankedLoudsNon = pd.read_csv(f'../../query1000results/ranked/louds/optimalOrder/{file}', delimiter=';')
    rankedLoudsNon = rankedLoudsNon.loc[:, (rankedLoudsNon != 0).any(axis=0)]
    meanRankedLoudsNon = rankedLoudsNon.mean(axis=1)
    
    rankedDfudsBack = pd.read_csv(f'../../query1000results/ranked/dfuds/backtracking/{file}', delimiter=';')
    rankedDfudsBack = rankedDfudsBack.loc[:, (rankedDfudsBack != 0).any(axis=0)]
    meanRankedDfudsBack = rankedDfudsBack.mean(axis=1)
    
    rankedDfudsNon = pd.read_csv(f'../../query1000results/ranked/dfuds/optimalOrder/{file}', delimiter=';')
    rankedDfudsNon = rankedDfudsNon.loc[:, (rankedDfudsNon != 0).any(axis=0)]
    meanRankedDfudsNon = rankedDfudsNon.mean(axis=1)
    
    # Combine into a DataFrame
    result_table = pd.DataFrame({
        "k": k_values,
        "Original": meanOriginal,
        "R. Louds Back": meanRankedLoudsBack,
        "R. Louds Opt": meanRankedLoudsNon,
        "R. Dfuds Back": meanRankedDfudsBack,
        "R. Dfuds Opt": meanRankedDfudsNon
    })
    
    #result_table.set_index("k")
    result_table
    

result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))
result_table['k'] = result_table['k'].astype(int)
result_table
#result_table.style.set_caption("ras")
#result_table.style.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_32558/1083008817.py:41: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))

      k     Original  R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0     1  205487271.3      4156613.2     2508591.2      4156613.2     2508591.2
1    10  205487271.8      5988946.3     3202413.8      5988946.3     3202413.8
2   100  205487276.8      9958415.2     5276732.0      9958415.2     5276732.0
3  1000  205487326.8     13327577.4     8984728.5     13327577.4     8984728.5

In [75]:
# latex table
print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrrr}
\toprule
k & Original & R. Louds Back & R. Louds Opt & R. Dfuds Back & R. Dfuds Opt \\
\midrule
1 & 205,487,271.30 & 4,156,613.20 & 2,508,591.20 & 4,156,613.20 & 2,508,591.20 \\
10 & 205,487,271.80 & 5,988,946.30 & 3,202,413.80 & 5,988,946.30 & 3,202,413.80 \\
100 & 205,487,276.80 & 9,958,415.20 & 5,276,732.00 & 9,958,415.20 & 5,276,732.00 \\
1000 & 205,487,326.80 & 13,327,577.40 & 8,984,728.50 & 13,327,577.40 & 8,984,728.50 \\
\bottomrule
\end{tabular}

In [76]:
name = "ranked-variablek-mean-nodes"
filename = '/Users/asugomez/Desktop/Magister/Tesis/tesisQdags/imagenes/'+name
csv_filename = filename + ".csv"
png_filename = filename + ".png"

In [77]:
#result_table.to_csv(csv_filename, index=False)

In [78]:
#save_dataframe_as_png(result_table, png_filename)

In [79]:
res_rlb =result_table['R. Louds Back']/result_table['Original'] * 100
res_rlo=result_table['R. Louds Opt']/result_table['Original'] * 100
res_rdb=result_table['R. Dfuds Back']/result_table['Original'] * 100
res_rdo=result_table['R. Dfuds Opt']/result_table['Original'] * 100

In [80]:
res_percentaje = pd.DataFrame({
    "k": k_values,
        "R. Louds Back": res_rlb,
        "R. Louds Opt": res_rlo,
        "R. Dfuds Back": res_rdb,
        "R. Dfuds Opt": res_rdo
    })

res_percentaje

      k  R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0     1       2.022808      1.220801       2.022808      1.220801
1    10       2.914510      1.558449       2.914510      1.558449
2   100       4.846244      2.567912       4.846244      2.567912
3  1000       6.485839      4.372400       6.485839      4.372400

In [81]:
# Format numeric values to add '\%' (except 'k')
for col in res_percentaje.columns:
    if col != 'k':
        res_percentaje[col] = res_percentaje[col].map(lambda x: f"{x:.2f}\\%")

# Print LaTeX table
print(res_percentaje.to_latex(index=False, escape=False))

\begin{tabular}{rllll}
\toprule
k & R. Louds Back & R. Louds Opt & R. Dfuds Back & R. Dfuds Opt \\
\midrule
1 & 2.02\% & 1.22\% & 2.02\% & 1.22\% \\
10 & 2.91\% & 1.56\% & 2.91\% & 1.56\% \\
100 & 4.85\% & 2.57\% & 4.85\% & 2.57\% \\
1000 & 6.49\% & 4.37\% & 6.49\% & 4.37\% \\
\bottomrule
\end{tabular}