In [42]:
# table to visualize % nodes visited in original and ranked enum. algorithms

In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import numpy as np
import seaborn as sns

In [44]:
alg_label = ["Original",
             "G. LOUDS Backtrack.", 
             "G. LOUDS Op. Order",
             "G. DFUDS Backtrack.", 
             "G. DFUDS Op. Order"]
        
queries_label = ["j3","j4","p2","p3","p4","s1","s2","s3","s4","t2","t3","t4","ti2","ti3","ti4","tr1","tr2"]

queries_title = ["J3","J4","P2","P3","P4","S1","S2","S3","S4","T2","T3","T4","Ti2","Ti3","Ti4","Tr1","Tr2"]

In [45]:

for i,type_fun in enumerate([0]):#,1]):
    file = f"results-f{type_fun}-nodes.csv"
    #print(file)
    
    k_values = [1, 10, 100, 1000]
    
    original = pd.read_csv('../../original/results-nodes-gradual.csv',delimiter=';')
    meanOriginal = original.mean(axis=1)

    
    gradualLoudsBack = pd.read_csv(f'../../partial/louds/backtracking/{file}', delimiter=';')
    gradualLoudsBack = gradualLoudsBack.loc[:, (gradualLoudsBack != 0).any(axis=0)]
    meanGradualLoudsBack = gradualLoudsBack.mean(axis=1)
    
    gradualLoudsNon = pd.read_csv(f'../../partial/louds/optimalOrder/{file}', delimiter=';')
    gradualLoudsNon = gradualLoudsNon.loc[:, (gradualLoudsNon != 0).any(axis=0)]
    meanGradualLoudsNon = gradualLoudsNon.mean(axis=1)
    
    gradualDfudsBack = pd.read_csv(f'../../partial/dfuds/backtracking/{file}', delimiter=';')
    gradualDfudsBack = gradualDfudsBack.loc[:, (gradualDfudsBack != 0).any(axis=0)]
    meanGradualDfudsBack = gradualDfudsBack.mean(axis=1)
    
    gradualDfudsNon = pd.read_csv(f'../../partial/dfuds/optimalOrder/{file}', delimiter=';')
    gradualDfudsNon = gradualDfudsNon.loc[:, (gradualDfudsNon != 0).any(axis=0)]
    meanGradualDfudsNon = gradualDfudsNon.mean(axis=1)
    
    # Combine into a DataFrame
    result_table = pd.DataFrame({
        "k": k_values,
        "Original": meanOriginal,
        "G. Louds Back": meanGradualLoudsBack,
        "G. Louds Opt": meanGradualLoudsNon,
        "G. Dfuds Back": meanGradualDfudsBack,
        "G. Dfuds Opt": meanGradualDfudsNon
    })
    
    #result_table.set_index("k")
    result_table
    

result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))
result_table['k'] = result_table['k'].astype(int)
result_table
#result_table.style.set_caption("ras")
#result_table.style.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_29531/897574763.py:41: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))

      k    Original  G. Louds Back  G. Louds Opt  G. Dfuds Back  G. Dfuds Opt
0     1   5451446.5      5154162.8     5313902.8      5154162.8     5313902.8
1    10  10972050.6     12237924.6    11835784.7     12237924.6    11835784.7
2   100  14740835.1     15088746.6    14791090.8     15088746.6    14791090.8
3  1000  17312450.3     17050935.3    17096434.0     17050935.3    17096434.0

In [46]:
# latex table
print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrrr}
\toprule
k & Original & G. Louds Back & G. Louds Opt & G. Dfuds Back & G. Dfuds Opt \\
\midrule
1 & 5,451,446.50 & 5,154,162.80 & 5,313,902.80 & 5,154,162.80 & 5,313,902.80 \\
10 & 10,972,050.60 & 12,237,924.60 & 11,835,784.70 & 12,237,924.60 & 11,835,784.70 \\
100 & 14,740,835.10 & 15,088,746.60 & 14,791,090.80 & 15,088,746.60 & 14,791,090.80 \\
1000 & 17,312,450.30 & 17,050,935.30 & 17,096,434.00 & 17,050,935.30 & 17,096,434.00 \\
\bottomrule
\end{tabular}

In [47]:
res_rlb =result_table['G. Louds Back']/result_table['Original'] * 100
res_rlo=result_table['G. Louds Opt']/result_table['Original'] * 100
res_rdb=result_table['G. Dfuds Back']/result_table['Original'] * 100
res_rdo=result_table['G. Dfuds Opt']/result_table['Original'] * 100

In [48]:
res_percentaje = pd.DataFrame({
        "k": k_values,
        "G. Louds Back": res_rlb,
        "G. Louds Opt": res_rlo,
        "G. Dfuds Back": res_rdb,
        "G. Dfuds Opt": res_rdo
    })

res_percentaje

      k  G. Louds Back  G. Louds Opt  G. Dfuds Back  G. Dfuds Opt
0     1      94.546701     97.476932      94.546701     97.476932
1    10     111.537260    107.872130     111.537260    107.872130
2   100     102.360189    100.340928     102.360189    100.340928
3  1000      98.489440     98.752249      98.489440     98.752249

In [49]:
# latex table
print(res_percentaje.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrr}
\toprule
k & G. Louds Back & G. Louds Opt & G. Dfuds Back & G. Dfuds Opt \\
\midrule
1 & 94.55 & 97.48 & 94.55 & 97.48 \\
10 & 111.54 & 107.87 & 111.54 & 107.87 \\
100 & 102.36 & 100.34 & 102.36 & 100.34 \\
1000 & 98.49 & 98.75 & 98.49 & 98.75 \\
\bottomrule
\end{tabular}

In [50]:

alg_label = ["Original",
             "G. LOUDS Backtrack.", 
             "G. LOUDS Op. Order",
             "G. DFUDS Backtrack.", 
             "G. DFUDS Op. Order"]
queries_title_v1000 = ["J3","J4","P2","P3","P4","S3","T2","T3","T4","Ti2","Ti3"] #"S3","T3","Ti4 (log scale)"
queries_label_v1000=["j3","j4","p2","p3","p4","s3","t2","t3","t4","ti2","ti3"] # "s3", "t3","ti4"

In [51]:

for i,type_fun in enumerate([0]):#,1]):
    file = f"results-f{type_fun}-v1000-nodes.csv"
    #print(file)
    
    k_values = [1, 10, 100, 1000]
    
    original = pd.read_csv('../../query1000results/original/results-v1000-nodes-gradual.csv',delimiter=';')
    meanOriginal = original.mean(axis=1)

    
    partialLoudsBack = pd.read_csv(f'../../query1000results/partial/louds/backtracking/{file}', delimiter=';')
    partialLoudsBack = partialLoudsBack.loc[:, (partialLoudsBack != 0).any(axis=0)]
    meanGradualLoudsBack = partialLoudsBack.mean(axis=1)
    
    partialLoudsNon = pd.read_csv(f'../../query1000results/partial/louds/optimalOrder/{file}', delimiter=';')
    partialLoudsNon = partialLoudsNon.loc[:, (partialLoudsNon != 0).any(axis=0)]
    meanGradualLoudsNon = partialLoudsNon.mean(axis=1)
    
    partialDfudsBack = pd.read_csv(f'../../query1000results/partial/dfuds/backtracking/{file}', delimiter=';')
    partialDfudsBack = partialDfudsBack.loc[:, (partialDfudsBack != 0).any(axis=0)]
    meanGradualDfudsBack = partialDfudsBack.mean(axis=1)
    
    partialDfudsNon = pd.read_csv(f'../../query1000results/partial/dfuds/optimalOrder/{file}', delimiter=';')
    partialDfudsNon = partialDfudsNon.loc[:, (partialDfudsNon != 0).any(axis=0)]
    meanGradualDfudsNon = partialDfudsNon.mean(axis=1)
    
    # Combine into a DataFrame
    result_table = pd.DataFrame({
        "k": k_values,
        "Original": meanOriginal,
        "G. Louds Back": meanGradualLoudsBack,
        "G. Louds Opt": meanGradualLoudsNon,
        "G. Dfuds Back": meanGradualDfudsBack,
        "G. Dfuds Opt": meanGradualDfudsNon
    })
    
    #result_table.set_index("k")
    result_table
    

result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))
result_table['k'] = result_table['k'].astype(int)
result_table
#result_table.style.set_caption("ras")
#result_table.style.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_29531/1829203854.py:41: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))

      k     Original  G. Louds Back  G. Louds Opt  G. Dfuds Back  G. Dfuds Opt
0     1    8803374.1       347080.3     2315337.0       347080.3     2315337.0
1    10    9731802.8      2209735.6     3516238.1      2209735.6     3516238.1
2   100   19072611.6      3908781.2     4108285.6      3908781.2     4108285.6
3  1000  100382294.1      7212520.1     8156086.2      7212520.1     8156086.2

In [52]:
# latex table
print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrrr}
\toprule
k & Original & G. Louds Back & G. Louds Opt & G. Dfuds Back & G. Dfuds Opt \\
\midrule
1 & 8,803,374.10 & 347,080.30 & 2,315,337.00 & 347,080.30 & 2,315,337.00 \\
10 & 9,731,802.80 & 2,209,735.60 & 3,516,238.10 & 2,209,735.60 & 3,516,238.10 \\
100 & 19,072,611.60 & 3,908,781.20 & 4,108,285.60 & 3,908,781.20 & 4,108,285.60 \\
1000 & 100,382,294.10 & 7,212,520.10 & 8,156,086.20 & 7,212,520.10 & 8,156,086.20 \\
\bottomrule
\end{tabular}

In [53]:
name = "ranked-variablek-mean-nodes"
filename = '/Users/asugomez/Desktop/Magister/Tesis/tesisQdags/imagenes/'+name
csv_filename = filename + ".csv"
png_filename = filename + ".png"

In [54]:
#result_table.to_csv(csv_filename, index=False)

In [55]:
#save_dataframe_as_png(result_table, png_filename)

In [56]:
res_rlb =result_table['G. Louds Back']/result_table['Original'] * 100
res_rlo=result_table['G. Louds Opt']/result_table['Original'] * 100
res_rdb=result_table['G. Dfuds Back']/result_table['Original'] * 100
res_rdo=result_table['G. Dfuds Opt']/result_table['Original'] * 100

In [57]:
res_percentaje = pd.DataFrame({
        "k": k_values,
        "G. Louds Back": res_rlb,
        "G. Louds Opt": res_rlo,
        "G. Dfuds Back": res_rdb,
        "G. Dfuds Opt": res_rdo
    })

res_percentaje

      k  G. Louds Back  G. Louds Opt  G. Dfuds Back  G. Dfuds Opt
0     1       3.942583     26.300564       3.942583     26.300564
1    10      22.706334     36.131415      22.706334     36.131415
2   100      20.494211     21.540236      20.494211     21.540236
3  1000       7.185052      8.125025       7.185052      8.125025

In [58]:
# latex table
print(res_percentaje.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrr}
\toprule
k & G. Louds Back & G. Louds Opt & G. Dfuds Back & G. Dfuds Opt \\
\midrule
1 & 3.94 & 26.30 & 3.94 & 26.30 \\
10 & 22.71 & 36.13 & 22.71 & 36.13 \\
100 & 20.49 & 21.54 & 20.49 & 21.54 \\
1000 & 7.19 & 8.13 & 7.19 & 8.13 \\
\bottomrule
\end{tabular}