In [ ]:
# table to visualize % times in original and ranked enum. algorithms

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import numpy as np
import seaborn as sns

In [15]:
alg_label = ["Original",
             "R. LOUDS Backtrack.", 
             "R. LOUDS Op. Order",
             "R. DFUDS Backtrack.", 
             "R. DFUDS Op. Order"]
        
queries_label = ["j3","j4","p2","p3","p4","s1","s2","s3","s4","t2","t3","t4","ti2","ti3","ti4","tr1","tr2"]

queries_title = ["J3","J4","P2","P3","P4","S1","S2","S3","S4","T2","T3","T4","Ti2","Ti3","Ti4","Tr1","Tr2"]

In [17]:
for i,type_fun in enumerate([0]):#,1]):
    file = f"results-f{type_fun}-time.csv"
    #print(file)
    
    k_values = [1, 10, 100, 1000]

    original = pd.read_csv(f'../../original/results-time-ranked.csv',delimiter=';')
    meanOriginal = original.mean(axis=1)

    
    rankedLoudsBack = pd.read_csv(f'../../ranked/louds/backtracking/{file}', delimiter=';')
    rankedLoudsBack = rankedLoudsBack.loc[:, (rankedLoudsBack != 0).any(axis=0)]
    meanRankedLoudsBack = rankedLoudsBack.mean(axis=1)
    
    rankedLoudsNon = pd.read_csv(f'../../ranked/louds/optimalOrder/{file}', delimiter=';')
    rankedLoudsNon = rankedLoudsNon.loc[:, (rankedLoudsNon != 0).any(axis=0)]
    meanRankedLoudsNon = rankedLoudsNon.mean(axis=1)
    
    rankedDfudsBack = pd.read_csv(f'../../ranked/dfuds/backtracking/{file}', delimiter=';')
    rankedDfudsBack = rankedDfudsBack.loc[:, (rankedDfudsBack != 0).any(axis=0)]
    meanRankedDfudsBack = rankedDfudsBack.mean(axis=1)
    
    rankedDfudsNon = pd.read_csv(f'../../ranked/dfuds/optimalOrder/{file}', delimiter=';')
    rankedDfudsNon = rankedDfudsNon.loc[:, (rankedDfudsNon != 0).any(axis=0)]
    meanRankedDfudsNon = rankedDfudsNon.mean(axis=1)
    
    # Combine into a DataFrame
    result_table = pd.DataFrame({
        "k": k_values,
        "Original": meanOriginal,
        "R. Louds Back": meanRankedLoudsBack,
        "R. Louds Opt": meanRankedLoudsNon,
        "R. Dfuds Back": meanRankedDfudsBack,
        "R. Dfuds Opt": meanRankedDfudsNon
    })
    
    #result_table.set_index("k")
    result_table
    

result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))
result_table['k'] = result_table['k'].astype(int)
result_table
#result_table.style.set_caption("ras")
#result_table.style.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")

      k  Original  R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0     1       6.6          104.4          38.5           92.7          36.2
1    10       7.1          114.7          45.2          102.6          42.7
2   100      12.1          123.6          52.7          111.3          50.2
3  1000      62.1          177.2         103.9          164.5         101.5

In [18]:
# latex table
print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrrr}
\toprule
   k &  Original &  R. Louds Back &  R. Louds Opt &  R. Dfuds Back &  R. Dfuds Opt \\
\midrule
   1 &      6.60 &         104.40 &         38.50 &          92.70 &         36.20 \\
  10 &      7.10 &         114.70 &         45.20 &         102.60 &         42.70 \\
 100 &     12.10 &         123.60 &         52.70 &         111.30 &         50.20 \\
1000 &     62.10 &         177.20 &        103.90 &         164.50 &        101.50 \\
\bottomrule
\end{tabular}

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_7697/1306690107.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

In [19]:
res_rlb =result_table['R. Louds Back']/result_table['Original'] * 100
res_rlo=result_table['R. Louds Opt']/result_table['Original'] * 100
res_rdb=result_table['R. Dfuds Back']/result_table['Original'] * 100
res_rdo=result_table['R. Dfuds Opt']/result_table['Original'] * 100

In [20]:
res_percentaje = pd.DataFrame({
        "R. Louds Back": res_rlb,
        "R. Louds Opt": res_rlo,
        "R. Dfuds Back": res_rdb,
        "R. Dfuds Opt": res_rdo
    })

res_percentaje

   R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0    1581.818182    583.333333    1404.545455    548.484848
1    1615.492958    636.619718    1445.070423    601.408451
2    1021.487603    435.537190     919.834711    414.876033
3     285.346216    167.310789     264.895330    163.446055

In [21]:
# latex table
print(res_percentaje.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrr}
\toprule
 R. Louds Back &  R. Louds Opt &  R. Dfuds Back &  R. Dfuds Opt \\
\midrule
      1,581.82 &        583.33 &       1,404.55 &        548.48 \\
      1,615.49 &        636.62 &       1,445.07 &        601.41 \\
      1,021.49 &        435.54 &         919.83 &        414.88 \\
        285.35 &        167.31 &         264.90 &        163.45 \\
\bottomrule
\end{tabular}

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_7697/1889796537.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(res_percentaje.to_latex(index=False,float_format="{:,.2f}".format,))

In [9]:

alg_label = ["Original",
             "R. LOUDS Backtrack.", 
             "R. LOUDS Op. Order",
             "R. DFUDS Backtrack.", 
             "R. DFUDS Op. Order"]
queries_title_v1000 = ["J3","J4","P2","P3","P4","S3","T2","T3","T4","Ti2","Ti3"] #"S3","T3","Ti4 (log scale)"
queries_label_v1000=["j3","j4","p2","p3","p4","s3","t2","t3","t4","ti2","ti3"] # "s3", "t3","ti4"

In [10]:
# FOR V1000
for i,type_fun in enumerate([0]):#,1]):
    file = f"results-f{type_fun}-v1000-time.csv"
    #print(file)
    
    k_values = [1, 10, 100, 1000]
    
    original = pd.read_csv(f'../../query1000results/original/results-v1000-time-ranked.csv',delimiter=';')
    meanOriginal = original.mean(axis=1)

    
    rankedLoudsBack = pd.read_csv(f'../../query1000results/ranked/louds/backtracking/{file}', delimiter=';')
    rankedLoudsBack = rankedLoudsBack.loc[:, (rankedLoudsBack != 0).any(axis=0)]
    meanRankedLoudsBack = rankedLoudsBack.mean(axis=1)
    
    rankedLoudsNon = pd.read_csv(f'../../query1000results/ranked/louds/optimalOrder/{file}', delimiter=';')
    rankedLoudsNon = rankedLoudsNon.loc[:, (rankedLoudsNon != 0).any(axis=0)]
    meanRankedLoudsNon = rankedLoudsNon.mean(axis=1)
    
    rankedDfudsBack = pd.read_csv(f'../../query1000results/ranked/dfuds/backtracking/{file}', delimiter=';')
    rankedDfudsBack = rankedDfudsBack.loc[:, (rankedDfudsBack != 0).any(axis=0)]
    meanRankedDfudsBack = rankedDfudsBack.mean(axis=1)
    
    rankedDfudsNon = pd.read_csv(f'../../query1000results/ranked/dfuds/optimalOrder/{file}', delimiter=';')
    rankedDfudsNon = rankedDfudsNon.loc[:, (rankedDfudsNon != 0).any(axis=0)]
    meanRankedDfudsNon = rankedDfudsNon.mean(axis=1)
    
    # Combine into a DataFrame
    result_table = pd.DataFrame({
        "k": k_values,
        "Original": meanOriginal,
        "R. Louds Back": meanRankedLoudsBack,
        "R. Louds Opt": meanRankedLoudsNon,
        "R. Dfuds Back": meanRankedDfudsBack,
        "R. Dfuds Opt": meanRankedDfudsNon
    })
    
    #result_table.set_index("k")
    result_table
    

result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))
result_table['k'] = result_table['k'].astype(int)
result_table
#result_table.style.set_caption("ras")
#result_table.style.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")

      k  Original  R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0     1      26.3           12.4          20.1           13.6          21.3
1    10      27.0           18.6          24.6           21.2          26.6
2   100      33.9           32.0          35.4           35.3          37.6
3  1000     103.1          110.8         116.7          114.4         119.2

In [11]:
# latex table
print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrrr}
\toprule
   k &  Original &  R. Louds Back &  R. Louds Opt &  R. Dfuds Back &  R. Dfuds Opt \\
\midrule
   1 &     26.30 &          12.40 &         20.10 &          13.60 &         21.30 \\
  10 &     27.00 &          18.60 &         24.60 &          21.20 &         26.60 \\
 100 &     33.90 &          32.00 &         35.40 &          35.30 &         37.60 \\
1000 &    103.10 &         110.80 &        116.70 &         114.40 &        119.20 \\
\bottomrule
\end{tabular}

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_7697/1306690107.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

In [12]:
res_rlb =result_table['R. Louds Back']/result_table['Original'] * 100
res_rlo=result_table['R. Louds Opt']/result_table['Original'] * 100
res_rdb=result_table['R. Dfuds Back']/result_table['Original'] * 100
res_rdo=result_table['R. Dfuds Opt']/result_table['Original'] * 100

In [13]:
res_percentaje = pd.DataFrame({
        "R. Louds Back": res_rlb,
        "R. Louds Opt": res_rlo,
        "R. Dfuds Back": res_rdb,
        "R. Dfuds Opt": res_rdo
    })

res_percentaje

   R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0      47.148289     76.425856      51.711027     80.988593
1      68.888889     91.111111      78.518519     98.518519
2      94.395280    104.424779     104.129794    110.914454
3     107.468477    113.191077     110.960233    115.615907

In [14]:
# latex table
print(res_percentaje.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrr}
\toprule
 R. Louds Back &  R. Louds Opt &  R. Dfuds Back &  R. Dfuds Opt \\
\midrule
         47.15 &         76.43 &          51.71 &         80.99 \\
         68.89 &         91.11 &          78.52 &         98.52 \\
         94.40 &        104.42 &         104.13 &        110.91 \\
        107.47 &        113.19 &         110.96 &        115.62 \\
\bottomrule
\end{tabular}

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_7697/1889796537.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(res_percentaje.to_latex(index=False,float_format="{:,.2f}".format,))