In [39]:
# table to visualize % nodes visited in original and ranked enum. algorithms

In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import numpy as np
import seaborn as sns

In [41]:
# Save DataFrame as PNG with background colors
def save_dataframe_as_png(df, filename='result_table.png'):
    fig, ax = plt.subplots(figsize=(12, 6))  # Adjust size as needed
    ax.axis('off')  # Hide axes
    
    # Create a table
    table = ax.table(
        cellText=df.values,
        colLabels=df.columns,
        cellLoc='center',
        loc='center'
    )

    # Add background colors
    for (row, col), cell in table.get_celld().items():
        if row == 0:  # Header row
            cell.set_facecolor('#1C4DED')
            cell.set_text_props(color='white', weight='bold')
        #elif col == 0:  # 'k' column
         #   cell.set_facecolor('blue')
          #  cell.set_text_props(color='white')
        else:  # Other cells
            cell.set_facecolor('#f0f0f0')  # Light gray background
    
    table.auto_set_font_size(False)
    table.set_fontsize(10)
    table.auto_set_column_width(col=list(range(len(df.columns))))  # Auto adjust column width

    # Save as PNG
    #plt.savefig(filename, bbox_inches='tight')
    plt.savefig(filename)
    plt.show()

In [42]:
alg_label = ["Original",
             "R. LOUDS Backtrack.", 
             "R. LOUDS Op. Order",
             "R. DFUDS Backtrack.", 
             "R. DFUDS Op. Order"]
        
queries_label = ["j3","j4","p2","p3","p4","s1","s2","s3","s4","t2","t3","t4","ti2","ti3","ti4","tr1","tr2"]

queries_title = ["J3","J4","P2","P3","P4","S1","S2","S3","S4","T2","T3","T4","Ti2","Ti3","Ti4","Tr1","Tr2"]

In [43]:

for i,type_fun in enumerate([0]):#,1]):
    file = f"results-f{type_fun}-nodes.csv"
    #print(file)
    
    k_values = [1, 10, 100, 1000]
    
    original = pd.read_csv('../../original/results-nodes-ranked.csv',delimiter=';')
    original = original.drop(original.columns[0], axis=1) # delete column k
    meanOriginal = original.mean(axis=1)

    
    rankedLoudsBack = pd.read_csv(f'../../ranked/louds/backtracking/{file}', delimiter=';')
    rankedLoudsBack = rankedLoudsBack.drop(rankedLoudsBack.columns[0], axis=1) # delete column k
    rankedLoudsBack = rankedLoudsBack.loc[:, (rankedLoudsBack != 0).any(axis=0)]
    meanRankedLoudsBack = rankedLoudsBack.mean(axis=1)
    
    rankedLoudsNon = pd.read_csv(f'../../ranked/louds/optimalOrder/{file}', delimiter=';')
    rankedLoudsNon = rankedLoudsNon.drop(rankedLoudsNon.columns[0], axis=1) # delete column k
    rankedLoudsNon = rankedLoudsNon.loc[:, (rankedLoudsNon != 0).any(axis=0)]
    meanRankedLoudsNon = rankedLoudsNon.mean(axis=1)
    
    rankedDfudsBack = pd.read_csv(f'../../ranked/dfuds/backtracking/{file}', delimiter=';')
    rankedDfudsBack = rankedDfudsBack.drop(rankedDfudsBack.columns[0], axis=1) # delete column k
    rankedDfudsBack = rankedDfudsBack.loc[:, (rankedDfudsBack != 0).any(axis=0)]
    meanRankedDfudsBack = rankedDfudsBack.mean(axis=1)
    
    rankedDfudsNon = pd.read_csv(f'../../ranked/dfuds/optimalOrder/{file}', delimiter=';')
    rankedDfudsNon = rankedDfudsNon.drop(rankedDfudsNon.columns[0], axis=1) # delete column k
    rankedDfudsNon = rankedDfudsNon.loc[:, (rankedDfudsNon != 0).any(axis=0)]
    meanRankedDfudsNon = rankedDfudsNon.mean(axis=1)
    
    # Combine into a DataFrame
    result_table = pd.DataFrame({
        "k": k_values,
        "Original": meanOriginal,
        "R. Louds Back": meanRankedLoudsBack,
        "R. Louds Opt": meanRankedLoudsNon,
        "R. Dfuds Back": meanRankedDfudsBack,
        "R. Dfuds Opt": meanRankedDfudsNon
    })
    
    #result_table.set_index("k")
    result_table
    

result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))
result_table['k'] = result_table['k'].astype(int)
result_table
#result_table.style.set_caption("ras")
#result_table.style.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_85910/1514528929.py:46: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))

      k    Original  R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0     1  22967245.5     11049797.8    13645907.8     11047310.6    13643774.2
1    10  22967245.5     16394292.4    17389611.2     16342822.8    17360311.4
2   100  22967245.5     18397888.4    18810315.5     18466630.4    18796343.2
3  1000  22967245.5     19120147.9    19585852.5     19120488.9    19586108.5

In [44]:
# latex table
print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrrr}
\toprule
k & Original & R. Louds Back & R. Louds Opt & R. Dfuds Back & R. Dfuds Opt \\
\midrule
1 & 22,967,245.50 & 11,049,797.80 & 13,645,907.80 & 11,047,310.60 & 13,643,774.20 \\
10 & 22,967,245.50 & 16,394,292.40 & 17,389,611.20 & 16,342,822.80 & 17,360,311.40 \\
100 & 22,967,245.50 & 18,397,888.40 & 18,810,315.50 & 18,466,630.40 & 18,796,343.20 \\
1000 & 22,967,245.50 & 19,120,147.90 & 19,585,852.50 & 19,120,488.90 & 19,586,108.50 \\
\bottomrule
\end{tabular}

In [45]:
res_rlb =result_table['R. Louds Back']/result_table['Original'] * 100
res_rlo=result_table['R. Louds Opt']/result_table['Original'] * 100
res_rdb=result_table['R. Dfuds Back']/result_table['Original'] * 100
res_rdo=result_table['R. Dfuds Opt']/result_table['Original'] * 100

In [46]:
res_percentaje = pd.DataFrame({
        "R. Louds Back": res_rlb,
        "R. Louds Opt": res_rlo,
        "R. Dfuds Back": res_rdb,
        "R. Dfuds Opt": res_rdo
    })

res_percentaje

   R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0      48.111115     59.414647      48.100285     59.405357
1      71.381187     75.714831      71.157087     75.587259
2      80.104897     81.900616      80.404202     81.839780
3      83.249634     85.277325      83.251119     85.278439

In [47]:
# latex table
print(res_percentaje.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrr}
\toprule
R. Louds Back & R. Louds Opt & R. Dfuds Back & R. Dfuds Opt \\
\midrule
48.11 & 59.41 & 48.10 & 59.41 \\
71.38 & 75.71 & 71.16 & 75.59 \\
80.10 & 81.90 & 80.40 & 81.84 \\
83.25 & 85.28 & 83.25 & 85.28 \\
\bottomrule
\end{tabular}

In [48]:

alg_label = ["Original",
             "R. LOUDS Backtrack.", 
             "R. LOUDS Op. Order",
             "R. DFUDS Backtrack.", 
             "R. DFUDS Op. Order"]
queries_title_v1000 = ["J3","J4","P2","P3","P4","S3","T2","T3","T4","Ti2","Ti3"] #"S3","T3","Ti4 (log scale)"
queries_label_v1000=["j3","j4","p2","p3","p4","s3","t2","t3","t4","ti2","ti3"] # "s3", "t3","ti4"

In [49]:

for i,type_fun in enumerate([0]):#,1]):
    file = f"results-f{type_fun}-v1000-nodes.csv"
    #print(file)
    
    k_values = [1, 10, 100, 1000]
    
    original = pd.read_csv('../../query1000results/original/results-v1000-nodes-ranked.csv',delimiter=';')
    meanOriginal = original.mean(axis=1)

    
    rankedLoudsBack = pd.read_csv(f'../../query1000results/ranked/louds/backtracking/{file}', delimiter=';')
    rankedLoudsBack = rankedLoudsBack.loc[:, (rankedLoudsBack != 0).any(axis=0)]
    meanRankedLoudsBack = rankedLoudsBack.mean(axis=1)
    
    rankedLoudsNon = pd.read_csv(f'../../query1000results/ranked/louds/optimalOrder/{file}', delimiter=';')
    rankedLoudsNon = rankedLoudsNon.loc[:, (rankedLoudsNon != 0).any(axis=0)]
    meanRankedLoudsNon = rankedLoudsNon.mean(axis=1)
    
    rankedDfudsBack = pd.read_csv(f'../../query1000results/ranked/dfuds/backtracking/{file}', delimiter=';')
    rankedDfudsBack = rankedDfudsBack.loc[:, (rankedDfudsBack != 0).any(axis=0)]
    meanRankedDfudsBack = rankedDfudsBack.mean(axis=1)
    
    rankedDfudsNon = pd.read_csv(f'../../query1000results/ranked/dfuds/optimalOrder/{file}', delimiter=';')
    rankedDfudsNon = rankedDfudsNon.loc[:, (rankedDfudsNon != 0).any(axis=0)]
    meanRankedDfudsNon = rankedDfudsNon.mean(axis=1)
    
    # Combine into a DataFrame
    result_table = pd.DataFrame({
        "k": k_values,
        "Original": meanOriginal,
        "R. Louds Back": meanRankedLoudsBack,
        "R. Louds Opt": meanRankedLoudsNon,
        "R. Dfuds Back": meanRankedDfudsBack,
        "R. Dfuds Opt": meanRankedDfudsNon
    })
    
    #result_table.set_index("k")
    result_table
    

result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))
result_table['k'] = result_table['k'].astype(int)
result_table
#result_table.style.set_caption("ras")
#result_table.style.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_85910/3519114638.py:41: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))

      k     Original  R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0     1  203129029.8      4156925.8     5912248.9      4158977.5     5912121.0
1    10  203129030.3      5989195.9     6819815.7      6016912.7     6813944.3
2   100  203129035.3      9958181.8     8245073.1      9977645.2     8238121.7
3  1000  203129085.3     13325024.7    10955396.7     13333127.8    10956491.1

In [50]:
# latex table
print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrrr}
\toprule
k & Original & R. Louds Back & R. Louds Opt & R. Dfuds Back & R. Dfuds Opt \\
\midrule
1 & 203,129,029.80 & 4,156,925.80 & 5,912,248.90 & 4,158,977.50 & 5,912,121.00 \\
10 & 203,129,030.30 & 5,989,195.90 & 6,819,815.70 & 6,016,912.70 & 6,813,944.30 \\
100 & 203,129,035.30 & 9,958,181.80 & 8,245,073.10 & 9,977,645.20 & 8,238,121.70 \\
1000 & 203,129,085.30 & 13,325,024.70 & 10,955,396.70 & 13,333,127.80 & 10,956,491.10 \\
\bottomrule
\end{tabular}

In [51]:
name = "ranked-variablek-mean-nodes"
filename = '/Users/asugomez/Desktop/Magister/Tesis/tesisQdags/imagenes/'+name
csv_filename = filename + ".csv"
png_filename = filename + ".png"

In [52]:
#result_table.to_csv(csv_filename, index=False)

In [53]:
#save_dataframe_as_png(result_table, png_filename)

In [54]:
res_rlb =result_table['R. Louds Back']/result_table['Original'] * 100
res_rlo=result_table['R. Louds Opt']/result_table['Original'] * 100
res_rdb=result_table['R. Dfuds Back']/result_table['Original'] * 100
res_rdo=result_table['R. Dfuds Opt']/result_table['Original'] * 100

In [57]:
res_percentaje = pd.DataFrame({
    "k": k_values,
        "R. Louds Back": res_rlb,
        "R. Louds Opt": res_rlo,
        "R. Dfuds Back": res_rdb,
        "R. Dfuds Opt": res_rdo
    })

res_percentaje

      k  R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0     1       2.046446      2.910588       2.047456      2.910525
1    10       2.948469      3.357381       2.962114      3.354491
2   100       4.902392      4.059032       4.911974      4.055610
3  1000       6.559880      5.393318       6.563869      5.393856

In [58]:
# latex table
print(res_percentaje.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrr}
\toprule
k & R. Louds Back & R. Louds Opt & R. Dfuds Back & R. Dfuds Opt \\
\midrule
1 & 2.05 & 2.91 & 2.05 & 2.91 \\
10 & 2.95 & 3.36 & 2.96 & 3.35 \\
100 & 4.90 & 4.06 & 4.91 & 4.06 \\
1000 & 6.56 & 5.39 & 6.56 & 5.39 \\
\bottomrule
\end{tabular}