In [ ]:
# table to visualize % times in original and ranked enum. algorithms

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import numpy as np
import seaborn as sns

In [2]:
alg_label = ["Original",
             "G. LOUDS Backtrack.", 
             "G. LOUDS Op. Order",
             "G. DFUDS Backtrack.", 
             "G. DFUDS Op. Order"]
        
queries_label = ["j3","j4","p2","p3","p4","s1","s2","s3","s4","t2","t3","t4","ti2","ti3","ti4","tr1","tr2"]

queries_title = ["J3","J4","P2","P3","P4","S1","S2","S3","S4","T2","T3","T4","Ti2","Ti3","Ti4","Tr1","Tr2"]

In [3]:
for i,type_fun in enumerate([0]):#,1]):
    file = f"results-f{type_fun}-time.csv"
    #print(file)
    
    k_values = [1, 10, 100, 1000]

    original = pd.read_csv(f'../../original/results-time-ranked.csv',delimiter=';')
    meanOriginal = original.mean(axis=1)

    
    gradualLoudsBack = pd.read_csv(f'../../partial/louds/backtracking/{file}', delimiter=';')
    gradualLoudsBack = gradualLoudsBack.loc[:, (gradualLoudsBack != 0).any(axis=0)]
    meanGradualLoudsBack = gradualLoudsBack.mean(axis=1)
    
    gradualLoudsNon = pd.read_csv(f'../../partial/louds/optimalOrder/{file}', delimiter=';')
    gradualLoudsNon = gradualLoudsNon.loc[:, (gradualLoudsNon != 0).any(axis=0)]
    meanGradualLoudsNon = gradualLoudsNon.mean(axis=1)
    
    gradualDfudsBack = pd.read_csv(f'../../partial/dfuds/backtracking/{file}', delimiter=';')
    gradualDfudsBack = gradualDfudsBack.loc[:, (gradualDfudsBack != 0).any(axis=0)]
    meanGradualDfudsBack = gradualDfudsBack.mean(axis=1)
    
    gradualDfudsNon = pd.read_csv(f'../../partial/dfuds/optimalOrder/{file}', delimiter=';')
    gradualDfudsNon = gradualDfudsNon.loc[:, (gradualDfudsNon != 0).any(axis=0)]
    meanGradualDfudsNon = gradualDfudsNon.mean(axis=1)
    
    # Combine into a DataFrame
    result_table = pd.DataFrame({
        "k": k_values,
        "Original": meanOriginal,
        "G. Louds Back": meanGradualLoudsBack,
        "G. Louds Opt": meanGradualLoudsNon,
        "G. Dfuds Back": meanGradualDfudsBack,
        "G. Dfuds Opt": meanGradualDfudsNon
    })
    
    #result_table.set_index("k")
    result_table
    
    

result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))
result_table['k'] = result_table['k'].astype(int)
result_table
#result_table.style.set_caption("ras")
#result_table.style.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_40388/2052758775.py:42: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))

      k  Original  G. Louds Back  G. Louds Opt  G. Dfuds Back  G. Dfuds Opt
0     1       6.6           71.3          11.5           21.4          11.3
1    10       7.1           71.4          20.0           52.8          20.0
2   100      12.1           76.1          29.1           61.0          29.2
3  1000      62.1          126.5          80.0          121.3          80.5

In [4]:
# latex table
print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrrr}
\toprule
k & Original & R. Louds Back & R. Louds Opt & R. Dfuds Back & R. Dfuds Opt \\
\midrule
1 & 6.60 & 104.40 & 38.50 & 92.70 & 36.20 \\
10 & 7.10 & 114.70 & 45.20 & 102.60 & 42.70 \\
100 & 12.10 & 123.60 & 52.70 & 111.30 & 50.20 \\
1000 & 62.10 & 177.20 & 103.90 & 164.50 & 101.50 \\
\bottomrule
\end{tabular}

In [4]:
res_rlb =result_table['G. Louds Back']/result_table['Original'] * 100
res_rlo=result_table['G. Louds Opt']/result_table['Original'] * 100
res_rdb=result_table['G. Dfuds Back']/result_table['Original'] * 100
res_rdo=result_table['G. Dfuds Opt']/result_table['Original'] * 100

In [5]:
res_percentaje = pd.DataFrame({
        "G. Louds Back": res_rlb,
        "G. Louds Opt": res_rlo,
        "G. Dfuds Back": res_rdb,
        "G. Dfuds Opt": res_rdo
    })

res_percentaje

   G. Louds Back  G. Louds Opt  G. Dfuds Back  G. Dfuds Opt
0    1080.303030    174.242424     324.242424    171.212121
1    1005.633803    281.690141     743.661972    281.690141
2     628.925620    240.495868     504.132231    241.322314
3     203.703704    128.824477     195.330113    129.629630

In [7]:
# latex table
print(res_percentaje.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrr}
\toprule
R. Louds Back & R. Louds Opt & R. Dfuds Back & R. Dfuds Opt \\
\midrule
1,581.82 & 583.33 & 1,404.55 & 548.48 \\
1,615.49 & 636.62 & 1,445.07 & 601.41 \\
1,021.49 & 435.54 & 919.83 & 414.88 \\
285.35 & 167.31 & 264.90 & 163.45 \\
\bottomrule
\end{tabular}

In [6]:

alg_label = ["Original",
             "G. LOUDS Backtrack.", 
             "G. LOUDS Op. Order",
             "G. DFUDS Backtrack.", 
             "G. DFUDS Op. Order"]
queries_title_v1000 = ["J3","J4","P2","P3","P4","S3","T2","T3","T4","Ti2","Ti3"] #"S3","T3","Ti4 (log scale)"
queries_label_v1000=["j3","j4","p2","p3","p4","s3","t2","t3","t4","ti2","ti3"] # "s3", "t3","ti4"

In [8]:
# FOR V1000
for i,type_fun in enumerate([0]):#,1]):
    file = f"results-f{type_fun}-v1000-time.csv"
    #print(file)
    
    k_values = [1, 10, 100, 1000]
    
    original = pd.read_csv(f'../../query1000results/original/results-v1000-time-ranked.csv',delimiter=';')
    meanOriginal = original.mean(axis=1)

    
    partialLoudsBack = pd.read_csv(f'../../query1000results/partial/louds/backtracking/{file}', delimiter=';')
    partialLoudsBack = partialLoudsBack.loc[:, (partialLoudsBack != 0).any(axis=0)]
    meanGradualLoudsBack = partialLoudsBack.mean(axis=1)
    
    partialLoudsNon = pd.read_csv(f'../../query1000results/partial/louds/optimalOrder/{file}', delimiter=';')
    partialLoudsNon = partialLoudsNon.loc[:, (partialLoudsNon != 0).any(axis=0)]
    meanGradualLoudsNon = partialLoudsNon.mean(axis=1)
    
    partialDfudsBack = pd.read_csv(f'../../query1000results/partial/dfuds/backtracking/{file}', delimiter=';')
    partialDfudsBack = partialDfudsBack.loc[:, (partialDfudsBack != 0).any(axis=0)]
    meanGradualDfudsBack = partialDfudsBack.mean(axis=1)
    
    partialDfudsNon = pd.read_csv(f'../../query1000results/partial/dfuds/optimalOrder/{file}', delimiter=';')
    partialDfudsNon = partialDfudsNon.loc[:, (partialDfudsNon != 0).any(axis=0)]
    meanGradualDfudsNon = partialDfudsNon.mean(axis=1)
    
    # Combine into a DataFrame
    result_table = pd.DataFrame({
        "k": k_values,
        "Original": meanOriginal,
        "G. Louds Back": meanGradualLoudsBack,
        "G. Louds Opt": meanGradualLoudsNon,
        "G. Dfuds Back": meanGradualDfudsBack,
        "G. Dfuds Opt": meanGradualDfudsNon
    })
    
    #result_table.set_index("k")
    result_table
    

result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))
result_table['k'] = result_table['k'].astype(int)
result_table
#result_table.style.set_caption("ras")
#result_table.style.background_gradient(axis=None, vmin=1, vmax=5, cmap="YlGnBu")

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_40388/1338775955.py:42: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result_table.iloc[:, 1:] = result_table.iloc[:, 1:].applymap(lambda x: round(x, 1))

      k  Original  G. Louds Back  G. Louds Opt  G. Dfuds Back  G. Dfuds Opt
0     1      26.3           15.5           6.2            0.4           7.6
1    10      27.0           16.2           8.3            3.1           9.5
2   100      33.9           24.0          16.0           12.0          17.6
3  1000     103.1           98.3          94.7           90.3          96.3

In [11]:
# latex table
print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrrrr}
\toprule
   k &  Original &  R. Louds Back &  R. Louds Opt &  R. Dfuds Back &  R. Dfuds Opt \\
\midrule
   1 &     26.30 &          12.40 &         20.10 &          13.60 &         21.30 \\
  10 &     27.00 &          18.60 &         24.60 &          21.20 &         26.60 \\
 100 &     33.90 &          32.00 &         35.40 &          35.30 &         37.60 \\
1000 &    103.10 &         110.80 &        116.70 &         114.40 &        119.20 \\
\bottomrule
\end{tabular}

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_7697/1306690107.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(result_table.to_latex(index=False,float_format="{:,.2f}".format,))

In [12]:
res_rlb =result_table['G. Louds Back']/result_table['Original'] * 100
res_rlo=result_table['G. Louds Opt']/result_table['Original'] * 100
res_rdb=result_table['G. Dfuds Back']/result_table['Original'] * 100
res_rdo=result_table['G. Dfuds Opt']/result_table['Original'] * 100

In [13]:
res_percentaje = pd.DataFrame({
        "G. Louds Back": res_rlb,
        "G. Louds Opt": res_rlo,
        "G. Dfuds Back": res_rdb,
        "G. Dfuds Opt": res_rdo
    })

res_percentaje

   R. Louds Back  R. Louds Opt  R. Dfuds Back  R. Dfuds Opt
0      47.148289     76.425856      51.711027     80.988593
1      68.888889     91.111111      78.518519     98.518519
2      94.395280    104.424779     104.129794    110.914454
3     107.468477    113.191077     110.960233    115.615907

In [14]:
# latex table
print(res_percentaje.to_latex(index=False,float_format="{:,.2f}".format,))

\begin{tabular}{rrrr}
\toprule
 R. Louds Back &  R. Louds Opt &  R. Dfuds Back &  R. Dfuds Opt \\
\midrule
         47.15 &         76.43 &          51.71 &         80.99 \\
         68.89 &         91.11 &          78.52 &         98.52 \\
         94.40 &        104.42 &         104.13 &        110.91 \\
        107.47 &        113.19 &         110.96 &        115.62 \\
\bottomrule
\end{tabular}

/var/folders/qg/ggml06zs7tz58wmpl0g0hjhw0000gn/T/ipykernel_7697/1889796537.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(res_percentaje.to_latex(index=False,float_format="{:,.2f}".format,))